# Игнорируем файлы и директории сборки проекта
build/
dist/
out/
target/

# Игнорируем кэш компилятора Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем локальные настройки окружения
.env
.env.local
.env.development
.env.production


# Игнорируем стандартные файлы системы
.DS_Store
Thumbs.db

# # Игнорируем спеки и текстовые файлы
.spec
.txt